<p id="notice"><%= notice %></p>

<h1>Cities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>State</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= city.state.name %></td>
        <td><%= link_to 'Show', state_city_path(@state, city) %></td>
        <td><%= link_to 'Edit', edit_state_city_path(@state, city) %></td>
        <td><%= link_to 'Destroy', state_city_path(@state, city), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_state_city_path %>
