<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @city.state.name %>
</p>

<%= link_to 'Edit', edit_state_city_path(@state, @city) %> |
<%= link_to 'Back', state_cities_path(@state) %>
